<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>WebChat</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
	<script src="{% static 'chat/jquery-1.12.3.js' %}"></script>
	<script src="{% static 'chat/chatScript.js' %}"></script>
	<script src="{% static 'chat/reconnecting-websocket.js' %}"></script>
</head>
<body>
	<div id="wrapper">
		<section id="login" class="Center-Container">
			<div class="Absolute-Center">
				<h1>Login</h1>
				<p>Please enter your user name (not your real name).</p>
				<div class="blockEle inputBlock">
					<label for="name">Name:</label>
					<input type="text" name="name" id="inputName" value="" placeholder="Type Here...">
				</div>
				<div class="blockEle inputBlock">
					<input type="button" value="Submit" id="submitName">
				</div>
			</div>
		</section>
		
		<section id="chatWindow">
			<div id="outerChatLayer">
				<div id="topInfo">
					<div>Name:<span id="nameDisplay"></span></div>
				</div>
				
				<div id="chatEle">
				
				</div>
				<div id="messageInputEle">
					<input type="text" name="inputMessage" id="inputMessage" value="" placeholder="Type Here...">	
					<input type="button" value="Send" id="submitMessage">
				</div>
			</div>
		</section>
	</div>
</body>
</html>