<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>WebChat</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
	<!--<script src="script.js"></script>-->
</head>
<body>
	<div id="wrapper">
		<section id="login" class="blockEle Center-Container">
			<div class="Absolute-Center">
				<h1>Login</h1>
				<p>Please enter your user name (not your real name).</p>
				<div class="blockEle inputBlock">
					<label for="name">Name:</label>
					<input type="text" name="name" id="inputName" value="" placeholder="Type Here...">
				</div>
				<div class="blockEle inputBlock">
					<input type="button" value="Submit" id="submitName">
				</div>
				</div>
			</div>
		</section>
		
		<section id="chatWindow" class="blockEle">
			
		</section>
	</div>
</body>
</html>