<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>WebChat</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<script src="{% static 'jquery-1.12.3.js' %}"></script>
	<script src="{% static 'createAccScript.js' %}"></script>
</head>
<body>
	<div id="wrapper">
		<section id="login" class="Center-Container">
			<div class="Absolute-Center">
				{% if hasErrors %}
					<p>There were errors creating your account</p>
				{% endif%}
			
				<form action="/register/" method="post">{% csrf_token %}
					<h1>Login</h1>
					<div class="blockEle inputBlock">
						<label for="name">Create your name (not your real name)</label><br>
						<input type="text" name="name" id="inputName" value="" placeholder="">
					</div>
					<div class="blockEle inputBlock">
						<label for="pass">Create a password</label><br>
						<input type="password" name="pass" id="inputPassword" value="" placeholder="">
					</div>
					<div class="blockEle inputBlock">
						<label for="conPass">Confirm your password</label><br>
						<input type="password" name="conPass" id="inputConfirmPassword" value="" placeholder="">
					</div>
					<div class="blockEle inputBlock">
						<input type="button" value="Submit" id="submitName">
					</div>
					<div><span id="loginError"></span></div>
				</form>
			</div>
		</section>
	</div>
</body>
</html>